<!-- gallary section starts -->
<section class="gallary" id="gallary">
    <h1 class=" heading">Our Food <span>Gallary</span></h1>
        <div class="box-container">
        <div class="box">
      <img src="assets/img10.jpg" alt="">
      <div class="content">
        <h3>Samosa</h3>
        <p>The food that have high calories and low nutrition value are considered.</p>
        <a href="#" class="btn" >Order now</a>
      </div>
      
    </div>
    
    <div class="box">
      <img src="assets/img11.jpg" alt="">
      <div class="content">
        <h3>Bun Cake</h3>
        <p>It is a food that having sweet with bun.</p>
        <a href="#" class="btn">Order now</a>
      </div>
    </div>
    
    <div class="box">
      <img src="assets/img12.jpg" alt="">
      <div class="content">
        <h3>Veg Noodles</h3>
        <p>We have  veg noodles and wih egg also.</p>
        <a href="#" class="btn">Order now</a>
      </div>
    </div>
    
    <div class="box">
      <img src="assets/img13.jpg" alt="">
      <div class="content">
        <h3>cakes</h3>
        <p>Cake are very important in birthdays, functions etc, we have Chocolate flavour, Venilla flavour, Straberry flavour.</p>
        <a href="#" class="btn">Order now</a>  
      </div>
    </div>
    
    <div class="box">
      <img src="assets/img14.jpg" alt="">
      <div class="content">
        <h3>Different Sweets</h3>
        <p>We have some other types of sweets here.</p>   
        <a href="#" class="btn">Order now</a>
      </div>
    </div>
    
    <div class="box">
      <img src="assets/img15.jpg" alt="">
      <div class="content">
        <h3>Tasty Food</h3>
        <p>It is such a lovely and tasty food .</p>
        <a href="#" class="btn">Order now</a>
      </div> 
    </div>
    
    
    </div>
  </section>
  <!-- gallary section ends -->
