<!-- review section starts -->
<section class="review" id="review">
    <h1 class="heading">Our Customers <span>Review</span></h1>
    <div class="box-container">
      <div class="box">
        <img src="assets/img.jpg" alt="">
      <h3>John Deo</h3>
      <div class="stars">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
      </div>
      <p>I ordered sweets from here, The sweets are very good.</p>
    </div>
    
      <div class="box">
        <img src="assets/img2.jpg" alt="">
      <h3>John Deo1</h3>
      <div class="stars">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <p>Delicious , Tasty food ,Thank you.</p>
    </div>
    
      <div class="box">
        <img src="assets/img1.jpg" alt="">
      <h3>Johnson</h3>
      <div class="stars">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
      </div>
      <p>Not that much, but food is good.</p>
    </div>
    </div>
  </section>
  <!-- review section ends -->
