 <!-- speciality section starts -->
 <section class="speciality" id="speciality">
    <h1 class="heading">Our <span> Speciality</span></h1>
    <div class="box-container">
    <div class="box">
      <img class="image" src="assets/tasty b.jpg" height="400" width="500" alt="">
      <div class="content">
        <img src="assets/bg icon.jpg" height="60" alt="">
        <h3>Tasty burger</h3>
        <p>It is a fiid consisting of fillings_usually a patty of ground meat, typically beef_ placed inside a sliced bun or bread roll.</p>

      </div>
    </div>
    <div class="box">
      <img class="image" src="assets/pizza.jpg" height="400" width="500" alt="">
      <div class="content">
        <img src="assets/p icon.jpg" height="80"  alt="">
        <h3>Tasty Pizza</h3>
        <p>Pizza is a very special and it is prepared with lots of vegetables and also with chicken</p>

      </div>
    </div>
  
    <div class="box">
      <img class="image" src="assets/icecream.jpg" height="400" width="500" alt="">
      <div class="content">
        <img src="assets/img3.jpg" height="80"  alt="">
        <h3>Cold Ice Cream</h3>
        <p>Ice cream is an cool to our body and children loves alot, This Ice cream is both in Chocolate and venilla flavour.</p>

      </div>
    </div>
    <div class="box">
      <img class="image" src="assets/dks.jpg" height="400" width="500" alt="">
      <div class="content">
        <img src="assets/img4.png" height="80"  alt="">
        <h3>Cold Drinks</h3>
        <p>It is drinks for cooling our body. Especially during summer.</p>

      </div>
    </div>
    <div class="box">
      <img class="image" src="assets/sweets.jpg" height="400" width="500" alt="">
      <div class="content">
        <img src="assets/img5.png" height="80"  alt="">
        <h3>Sweets</h3>
        <p>In any festivals or functions sweets are very special. We have Lots of special sweets with us. </p>

      </div>
    </div>
    <div class="box">
      <img class="image" src="assets/bf5.jpg" height="400" width="500" alt="">
      <div class="content">
        <img src="assets/img6.jpg" height="80"  alt="">
        <h3>Healthy Breakfast</h3>
        <p>Healthy breakfast is very important in morning hours. So, we have that items also.</p>

      </div>
    </div>
    </div>
  </section>
  <!-- speciality section ends -->
