<html>
<head>

</head>
<body>
<!-- header section starts -->
<header>
    <a href="#">CloudKitchen Web</a>

    <nav class="navbar">
      <a  routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/speciality" routerLinkActive="active">Speciality</a>
      <a routerLink="/popular" routerLinkActive="active">Popular</a>
      <a routerLink="/gallary" routerLinkActive="active">Gallary</a>
      <a routerLink="/review" routerLinkActive="active">Review</a>
      <a routerLink="/orders" routerLinkActive="active">Order</a>
    </nav>
  </header>
  </body>
  <!-- header section ends -->
  
  <!-- <router-outlet></router-outlet> -->