 <!-- popular section starts -->
 <section class="popular" id="popular">
    <h1 class="heading">Most <span>Popular </span>Food</h1>
    <div class="box-container">
      <div class="box">
        <span class="price">$5 - $20</span>
        <img src="assets/barger.jpg" height="400" width="500" alt="">
        <h1>Taste Burger</h1>
        <div class="stars">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi-star-fill"></i>
          <i class="bi bi-star"></i>
        </div>
        <a href="#" class="btn">Order now</a>
        </div>
        <div class="box">
          <span class="price">$5 - $20</span>
          <img src="assets/pizza.jpg" height="400" width="500" alt="">
          <h1>Taste Pizza</h1>
          <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>   
          </div>
          <a href="#" class="btn">Order now</a>
          </div>
          <div class="box">
            <span class="price">$5 - $20</span>
            <img src="assets/icecream.jpg"  height="400" width="500" alt="">
            <h1>Cold Ice Cream</h1>
            <div class="stars">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi-star-fill"></i>
              <i class="bi bi-star"></i>
            </div>
            <a href="#" class="btn">Order now</a>
            </div>
            <div class="box">
              <span class="price">$5 - $20</span>
              <img src="assets/dks.jpg" height="400" width="500" alt="">
              <h1>Cold Drinks</h1>
              <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
              </div>
              <a href="#" class="btn">Order now</a>
              </div>
              <div class="box">
                <span class="price">$5 - $20</span>
                <img src="assets/sweets.jpg" height="400" width="500" alt="">
                <h1>Sweets</h1>
                <div class="stars">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                </div>
                <a href="#" class="btn">Order now</a>
                </div>
                <div class="box">
                  <span class="price">$5 - $20</span>
                  <img src="assets/bf5.jpg" height="400" width="500" alt="">
                  <h1>Healthy Breakfast</h1>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                   
                  </div>
                  <a href="#" class="btn">Order now</a>
                  </div>
        </div>
  </section>
  <!-- popular section ends -->
